@import "tailwindcss";

/* open-sans-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/open-sans-v43-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* poppins-300 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/poppins-v23-latin-300.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* poppins-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/poppins-v23-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* poppins-500 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/poppins-v23-latin-500.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

html {
  scroll-behavior: smooth;
}

nav a {
  position: relative;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  color: #ffff;
  padding-bottom: 1px;
  transition: all 0.2s ease;
}

nav a:hover {
  color: #808080;
}

nav .contact-a {
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid 1px white;
  border-radius: 10px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}

.contact-a:hover {
  background-color: white;
  color: black;
}

.contact-a:hover::after {
  width: 0;
}

select {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 25px;
  color: white;
  border: none;
  outline: none;
}

.hero-1 {
  font-family: "Poppins", sans-serif;
}

.hero-1 p {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: Medium;
  letter-spacing: -3px;
}

/* index.css */
