@import "tailwindcss";

/* open-sans-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/open-sans-v43-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* poppins-300 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/poppins-v23-latin-300.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* poppins-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/poppins-v23-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* poppins-500 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/poppins-v23-latin-500.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* montserrat-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/montserrat-v31-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

html {
  scroll-behavior: smooth;
}

body {
  overscroll-behavior: none; /* Orqaga "bounce" effekti oldini olish */
  -webkit-overflow-scrolling: touch; /* iOS uchun */
}
#cursor-dot {
  top: 0;
  left: 0;
  pointer-events: none;
  transform: translate(-50%, -40%);
  z-index: 999;
  -webkit-box-shadow: 0px 0px 31px 16px rgba(255, 255, 255, 0.25);
  -moz-box-shadow: 0px 0px 31px 16px rgba(255, 255, 255, 0.25);
  box-shadow: 0px 0px 31px 16px rgba(255, 255, 255, 0.25);
}

nav a {
  position: relative;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  color: #ffff;
  padding-bottom: 1px;
  transition: all 0.2s ease;
}

nav a:hover {
  color: #808080;
}

.konsultat-btn {
  -webkit-box-shadow: 0px 8px 15px 0px rgba(119, 224, 149, 0.5);
  -moz-box-shadow: 0px 8px 15px 0px rgba(119, 224, 149, 0.5);
  box-shadow: 0px 8px 15px 0px rgba(119, 224, 149, 0.5);
}

.contact-div {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 12% 100%);
  margin-bottom: 136px;
}

.border-dashed-widee {
  border-style: dashed;
  border-width: 1px;
  border-image: repeating-linear-gradient(
      90deg,
      currentColor 0 10px,
      transparent 10px 20px
    )
    1;
}
/* index.css */
